[AZURE]
AZURE_API_KEY=<YOUR_API_KEY>
AZURE_API_TYPE=<YOUR_API_TYPE>
AZURE_API_BASE=<YOUR_API_BASE>
AZURE_API_VERSION=<YOUR_API_VERSION>
AZURE_LLM_DEPLOYMENT=<YOUR_LLM_DEPLOYMENT>
AZURE_EMBEDDINGS_DEPLOYMENT=<YOUR_EMBEDDINGS_DEPLOYMENT>